.txt-semi{
    font-weight: 700;
}

/*==========================================*/
/*              JUMBOTRON STYLES            */
/*==========================================*/

.jumbotron-container{
    width:100% ;
    margin: auto ; 
    height:100% ;
}

.jumbotron-card{
    position:absolute;
    bottom:0;
    width: 90%;
    height: 70%;
}

.jumbotron-card-body{
    margin: auto;
    margin-top: 30%;
    margin-bottom: 10%;
    max-width:496px;
}

.jumbotron{
    max-height:100vh; background-color:#FFFFFF; overflow:hidden
}

.jumbotron-h1{
    max-width:496px;
    font-size: 1.5rem;
}

img.jumbotron-img{
    max-height: 90%;  
    width: auto;
    margin-top:auto;
}



@media only screen and (min-width: 992px) {
    .jumbotron-card{
        position:static;
        width: auto;
        height: 85%;
    }

    .jumbotron-card-body{
        max-width: 30rem;
        margin-bottom: 5em !important;
    }

    .jumbotron{
        height:100vh;
    }

    .jumbotron-h1{
        font-size: 2.5rem;
    }


}


/*==========================================*/
/*          POPULAR POSTINGS STYLES         */
/*==========================================*/

// .pop-post_container{
//     min-height:540px; 
//     background-color:#E4E4E4;  
//     display: flex;
// }

// .pop-post_content-wrapper{
//     padding: 3em 0 3em 0;
//     background-color:#E4E4E4;  
// }



@media only screen and (min-width: 992px) {
    .pop-post_content-wrapper{
        padding: 4.5em 0 4.5em 0;
    }
}





/*==========================================*/
/*          POPULAR POSTINGS STYLES         */
/*==========================================*/

@media only screen and (min-width: 992px) {
}

