.txt-semi{
    font-weight: 700;
}

.gray-font{
    color: #707070;
}


.bgc-lightgray{
    background-color: #FBFBFB;
}

.min-height{
    min-height: 32em;
}

.min-body-height{
    min-height: 95vh;
}

@media only screen and (min-width: 992px) {
    .min-height{
        min-height: 43em;
    }

    .min-body-height{
        min-height: 100vh;
    }
}


@media only screen and (min-width: 567px) {
    .container-full{
        max-width: 767px;
    }
}

@media only screen and (min-width: 768px) {
    .container-full{
        max-width: 1000px;
    }
}

@media only screen and (min-width: 992px) {
    .container-full{
        max-width: 1150px;
    }
}


@media only screen and (min-width: 1024px) {
    .ipad{
        flex: 1;
    }
}


@media only screen and (min-width: 1200px) {
    .container-full{
        max-width: 1400px;
        margin-left: none;
        margin-right: auto;
    }
}


/*==========================================*/
/*              Info Container              */
/*==========================================*/

.info-container{
    background-color: #FBF9EC;
}

.info-wrapper {
    // background-color: white;
    max-width: 500px;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-top: 2em;
    padding-bottom: 2em;
    font-family: 'Arial';
}

.img-container{
    max-width:280px;
    margin-left: auto;
    margin-right: auto;
}

.info-header{
    font-weight: bold;
    font-size: 1.625em;
}


@media only screen and (min-width: 992px) {


}


/*==========================================*/
/*              FORM CONTAINER              */
/*==========================================*/

.form-wrapper{
   background-color: white;
}

.form-container{
    // background-color: red !important;
    max-width: 47em;
}

.form-title-container{
    background-color: white;
}

.form-container{
    background-color: white;
}

@media only screen and (min-width: 992px) {


}

/*==========================================*/
/*              DATE BUTTONS                */
/*==========================================*/

.date-btn{
    width: 9.5em;
    font-size: 0.85rem;
    font-family: 'Nunito';
    font-weight: 400;
    margin-bottom: 0.75em;
}

@media only screen and (min-width: 992px) {
    .date-btn{
        margin-bottom: 0em;
    }

}


/*==========================================*/
/*              CHECKBOX STYLES             */
/*==========================================*/
.checkbox-lg{
    width: 235px;
}
.checkbox-lg .custom-control-label::before, 
.checkbox-lg .custom-control-label::after {
  top: 1rem;
  width: 1.25rem;
  height: 1.25rem;
}

.checkbox-lg .custom-control-label {
  padding-top: 13px;
  padding-left: 6px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #FFCC00!important;
    border: 1px solid #F2AE00!important;
  }
  
  .custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(242, 174, 0, 0.25)!important;
  }
  .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25) !important;

  }
  .custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    background-color: #F2AE00!important;
  }

@media only screen and (min-width: 992px) {


}

/*==========================================*/
/*            SELECT BOX & Label            */
/*==========================================*/

hr.custom {
    border-top: 1px solid #707070;
}

.custom-hr{
    height: 1px;
    background-color: #707070;
    opacity: 0.5;
    margin-bottom: 10px
}

.w-30{
    width: 5.5%
}

.select-width{
    width: 60%;
}

@media only screen and (min-width: 325px) {

    .w-30{
        width: 15.5%
    }
}

@media only screen and (min-width: 992px) {

    .w-30{
        width: 32.5%
    }

    .select-width{
        width: 35%;
    }
}


/*==========================================*/
/*        FLATPIKR OVERRIDE STYLES          */
/*==========================================*/

#inline-calendar{
    height: 1px !important;
    opacity: 0 !important;
}

.flatpickr-day.selected {
    background: #FFCC00 !important;
    border-color: #FFCC00 !important;
}

.flatpickr-calendar{
    transform:scale(0.75) translate(-65px,0px)!important;
    -webkit-box-shadow: 0 0 0 transparent !important;
    box-shadow: 0 0 0 transparent !important;
}

@media only screen and (min-width: 300px) {

    .flatpickr-calendar{
        transform:scale(0.75) translate(-35px,0px)!important;
    }
}

@media only screen and (min-width: 330px) {

    .flatpickr-calendar{
        transform:scale(1) translate(0px,0px)!important;
    }
}



/*==========================================*/
/*              DASHBOARD HOME              */
/*==========================================*/


@media only screen and (min-width: 992px) {


}


