.txt-semi{
    font-weight: 700;
}

.gray-font{
    color: #707070;
}

.bgc-lightgray{
    background-color: #FBFBFB;
}

.min-height{
    min-height: 32em;
}

.min-body-height{
    min-height: 95vh;
}

@media only screen and (min-width: 992px) {
    .min-height{
        min-height: 43em;
    }

    .min-body-height{
        min-height: 100vh;
    }
}


@media only screen and (min-width: 567px) {
    .container-full{
        max-width: 767px;
    }
}

@media only screen and (min-width: 768px) {
    .container-full{
        max-width: 1000px;
    }
}

@media only screen and (min-width: 992px) {
    .container-full{
        max-width: 1150px;
    }
}

@media only screen and (min-width: 1200px) {
    .container-full{
        max-width: 1400px;
        margin-left: none;
        margin-right: auto;
    }
}


/*==========================================*/
/*              Info Container              */
/*==========================================*/

.info-container{
    background-color: #FBF9EC;
}

.info-wrapper {
    background-color: blue;
}

.img-container{
    max-width:280px;
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (min-width: 992px) {


}

/*==========================================*/
/*              FORM CONTAINER              */
/*==========================================*/

.form{
 //   background-color: yellow;
}

@media only screen and (min-width: 992px) {


}



/*==========================================*/
/*              DASHBOARD HOME              */
/*==========================================*/


@media only screen and (min-width: 992px) {


}


