.txt-semi{
    font-weight: 700;
}

.gray-font{
    color: #707070;
}

.bgc-lightgray{
    background-color: #FBFBFB;
}



/*==========================================*/
/*              DASHBOARD HOME              */
/*==========================================*/


/* Pop */
@-webkit-keyframes hvr-pop {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  @keyframes hvr-pop {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  .hvr-pop {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

  .cust-select-container{
      cursor: pointer;
  }

  .error{
    border: 2px solid #f11212 !important;
  }

  .search-res{
      position: relative;
      margin-right: 120px;
  }

  .ui-widget {
    font-size:99% !important;
}


@media only screen and (min-width: 992px) {


}

/*==========================================*/
/*              DASHBOARD HOME              */
/*==========================================*/


@media only screen and (min-width: 992px) {


}











/*==========================================*/
/*             FEATURED HEROES              */
/*==========================================*/

.featured-heroes{
    min-height:540px; 
    background-color:#FFFFFF;
    // background-color:#00FFFF;
}

.feature-wrap{
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    // background-color:#FF00FF;
}

//.feature-row{
    // background-color:#FFFF00;
//}

.featured-header{
    font-size: 1.75em;
    margin-left: 0.5em;
}

.feature-card{
    // background-color: turquoise;
    // border:1px solid #CCCCCC;
    box-shadow: 0px 3px 12px rgba(0,0,0,0.16);
    min-height: 435px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1.25em;
    flex: 1;
    height: 100%;
}

.card{
    height: 2em !important;
}

hr.card-hr {
    border-top: 1px solid #9FAEAE;
}

.w-cap{
    max-width: 375px;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 992px) {
    .featured-header{
        font-size: 2em;
    }

    .feature-card{
        max-width: 381px;
        margin-left: none;
        margin-right: none;
        margin-bottom: none;
    }

    .w-cap{
        max-width: 1200px;
        padding-left: 1em;
        padding-right: 1em;
        margin-left: auto;
        margin-right: auto;
    }
}

/*==========================================*/
/*          POPULAR POSTINGS STYLES         */
/*==========================================*/

.pop-post_container{
    min-height:540px; 
    background-color:#E4E4E4;  
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.pop-post_content-wrapper{
    padding: 3em 1em 3em 1em;
}

.pop-post-desktop{
    display: none;
    margin-top: 2em;
}

.cust-card{
    border-radius: 1em;
}

.card{
    min-height: 250px;
}


@media only screen and (min-width: 992px) {
    .pop-post_content-wrapper{
        padding: 4.5em 0 4.5em 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .pop-post-desktop{
        display: flex;
    }

    .pop-post-mobile{
        display: none;
    }

    .card{
        min-width: 500px;
        min-height: 150px;
    }
}

/*==========================================*/
/*          JUMBOTRON FORM STYLES           */
/*==========================================*/

.jum-form{
    border: 1px solid #CCCCCC;
    padding: 0;
}

.cust-select-container{
    flex:1;
    display: flex;
    align-items: center;
}

.custom-select{
    border: 1px solid transparent;
    padding-left: 1;
    background: transparent !important;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

.c{
    border: 1px solid #ced4da !important;
}

.jumb-form-input-container{
    flex:1.5;
    padding-left: 8px
}

.jumb-form-input-container :focus{
    outline: none;
    border-bottom: 2px solid #F2AE00;
    margin-right: 15px;
}

.jmb-form-btn{
    font-weight: 900;
    font-family: "Nunito";
    border-radius: 0 0 0 0;
 }

 .cust-select-container :focus{
    outline: none;
    border-color: transparent;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(255, 0, 0, 0);
    border-bottom: 2px solid #F2AE00;
    margin-right: 15px;
 }



@media only screen and (min-width: 992px) {

    .jum-form{
        border: 1px solid #CCCCCC;
        padding: 0;
        height: 3.25em;
        align-items: center;
    }

    .jmb-form-btn{
       border-radius: 0 5px 5px 0;
       margin: 0;
    }

    .vert-line{
        border-left:1px solid #CCCCCC;
    }

    .city-icon{
        margin-left: 8px;
        margin-right: 4px;
    }
}

.select-border{
    border: 1px solid black;
    padding-left: 1;
    background: transparent !important;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

*.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in Internet Explorer 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }