
.container-fluid{
    background-color: #FBF9EC !important;
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-style-1{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
}

.title-style-2{
    text-align: left;
    font-size: 1.5rem !important;
    font-weight: 500;
}

.title-subtitle-1{
    text-align: left;
    font-size: 1.125rem !important;
    font-weight: 400;
}

.title-2-container{
    max-width: 30.56em;
    margin-left: auto;
    margin-right: auto;
}

.card-container{
    max-width: 30.56em;
    margin-left: auto;
    margin-right: auto;
}

.italic-text{
    font-style: italic;
}

.card-subtitle-main{
    font-size: 1.125rem;
    font-weight: 600;
}

.card-subtitle-muted{
    font-size: 0.875rem;
    font-weight: 400;
}

.smol{
    font-size: small;
}

.btn-text-1{
    font-family: 'Nunito';
    font-weight: 900;
    font-size: 1.75em;
}

.btn-text-2{
    font-family: 'Nunito';
    font-weight: 900;
    font-size: 1.5em;
}

.btn-text-outline{
    font-family: 'Nunito';
    font-weight: 900;
    font-size: 1.5em;
    color:#F2AE00;
    border: 2px solid #F2AE00;
}

.btn-text-outline:hover{
    font-family: 'Nunito';
    font-weight: 900;
    font-size: 1.5em;
    color:white;
    border: 2px solid #F2AE00;
}

/*==========================================*/
/*             Radio Button Styles           */
/*==========================================*/

.radio-item {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
  }
  
  .radio-item input[type='radio'] {
    display: none;
  }
  
  .radio-item label {
    color: #666;
    font-weight: normal;
  }
  
  .radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    left: -4px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid #F2AE00;
    background-color: transparent;
  }
  
  .radio-item input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: 6px;
    content: " ";
    display: block;
    background: #FAD255;
  }

/*==========================================*/
/*             Orientation Styles           */
/*==========================================*/

.card-orientation{
   min-height: 28.125em; 
}

.orientation-img{
    width: 5em;
    height: 5em;
    margin-left: 1.25em;
}

.step-number{
    font-size: 4.375rem;
    font-family: 'Racing Sans One';
}

.orientation-txt-container{
    max-width: 14em;
    margin-left: auto;
    margin-right: auto;
}

.orntn-btn-container{
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
}

/*==========================================*/
/*              CHECKBOX STYLES             */
/*==========================================*/
.checkbox-lg{
    width: 235px;
}
.checkbox-lg .custom-control-label::before, 
.checkbox-lg .custom-control-label::after {
  top: 1rem;
  width: 1.15rem;
  height: 1.15rem;
}

.checkbox-lg .custom-control-label {
  padding-top: 13px;
  padding-left: 6px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #FFCC00!important;
    border: 1px solid #F2AE00!important;
  }
  
  .custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(242, 174, 0, 0.25)!important;
  }
  .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25) !important;

  }
  .custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    background-color: #F2AE00!important;
  }

  .check-label{
      font-size: 1rem;
  }

/*==========================================*/
/*          PERSONAL INFO STYLES            */
/*==========================================*/

.check-container{
    margin-left: 1em;
    margin-right: 1em;
}

.LABEL-THICC-SMOL{
    color: #707070;
    font-size: small;
    font-weight: 600;
}

#samok{
    color: #707070;  
}

// .custom-select > option[selected][disabled]{
//     color: #707070 !important;
// }


/*==========================================*/
/*              PLACEHOLDER STYLES         */
/*==========================================*/

.lightgray-text{
    color: #A9A9A9;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A9A9A9;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #A9A9A9;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #A9A9A9;
}



/*==========================================*/
/*              SCHEDULE STYLES             */
/*==========================================*/
 .note-bottom{
     font-size: 0.9rem;
 }

 .clicky{
     color: #2699FB;
 }
 .clicky:hover{
     text-decoration: underline;
     cursor: pointer;
 }
 
 .check-adjust-sched{
     margin-top: 12px;
 }

 .apply-multiple-adjustwidth{
     width: 150px;
 }

//  .checkbox-lg .custom-control .custom-checkbox{
//      width: 10px;
//  }

@media only screen and (min-width: 992px) {


}







/*==========================================*/
/*          SCHEDULE STYLES         */
/*==========================================*/

@media only screen and (min-width: 992px) {


}